@tailwind utilities;

.auth-login-input {
  @apply w-full
        px-4
        py-3
        rounded-xl
        border
        border-gray-100
        bg-card
        text-gray-900
        placeholder-gray-400
        focus:outline-none
        focus:ring-2
        focus:ring-blue-500
        focus:border-blue-500
        transition
        duration-200
        ease-in-out
        shadow-sm
}

.auth-login-input input {
  text-align: center;
}